* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #621402;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 30px 0;
}

.header {
	min-height: 100vh;
	background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url(../img/header/bg.jpg) no-repeat center top / cover;
}

.menu {
	list-style: none;
	display: flex;
	margin-left: 57px;
}

.menu > *:not(:last-child) {
	margin-right: 25px;
}

.menu-link {
	color: #fff;
	text-decoration: none;
}

.user {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.avatar {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-left: 11px;
}

.film {
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.film-title-small {
	font-size: 24px;
	line-height: 150%;
	opacity: 0.5;
}

.film-title {
	font-size: 36px;
	line-height: 117%;
	margin-top: 11px;
	margin-bottom: 23px;
}

.film-description {
	font-size: 16px;
	line-height: 150%;
	max-width: 560px;
}

.film-trailer {
	margin: auto;
}

.film-details {
	display: flex;
	align-items: center;
	margin-top: 51px;
}

.time {
	display: flex;
	align-items: center;
}

.time-icon {
	margin-right: 14px;
}

.rating {
	display: flex;
	align-items: center;
	margin-left: 34px;
}

.rating-icon {
	margin-right: 14px;
}

.rating-current {
	font-size: 24px;
	line-height: 150%;
}

.session {
	margin-top: 62px;
	padding-top: 46px;
	padding-bottom: 64px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
}

.session-date-block {
	display: flex;
}

.session-date-item {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	text-align: center;
	width: 90px;
	height: 90px;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	transition: 0.2s linear;
	cursor: pointer;
}

.session-label {
	display: inline-block;
	margin-bottom: 20px;
}

.session-month {
	font-size: 16px;
	line-height: 119%;
}

.session-day {
	font-weight: 900;
	font-size: 30px;
	line-height: 117%;
}

.session-week {
	font-size: 19px;
	line-height: 116%;
}

.session-date-item:hover {
	background-color: #FE8E05;
	color: #621402;
}

.session-cinema, .session-time {
	display: flex;
	flex-direction: column;
}

.select {
	background: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	color: #fff;
	padding: 18px;
	cursor: pointer;
	margin-top: 15px;
}

.select-option {
	
	background: rgba(255, 255, 255, 0.15);
	color: #000;
	font-size: 16px;
	line-height: 150%
}

.select-cinema {
	min-width: 470px;
}

.scheme {
	margin-bottom: 40px;
	background: rgba(36, 36, 36, 0.18);
	border-radius: 10px;
}

.scheme path:not(.light) {
	fill: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.scheme path:not(.light):hover {
	fill: rgba(255, 255, 255, 0.5);
}

.scheme path.booked,
.scheme path.booked:hover {
	fill: rgba(255, 255, 255, 0.05);
	cursor: not-allowed;
}

.scheme path.active,
.scheme path.active:hover {
	fill: #FE8E05;
	cursor: pointer;
}

.legend {
	display: flex;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 20px 0;
	max-width: 1018px;
	margin: auto;
}

.legend-label {
	display: flex;
	align-items: center;
	margin-right: 30px;
	color: rgba(255, 255, 255, 0.5);
}

.legend svg {
	margin-right: 15px;
}

.price {
	padding-top: 20px;
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price-label {
	display: block;
	font-size: 18px;
	line-height: 117%;
}

.price-tag {
	font-size: 52px;
	line-height: 117%;
}

a {
	text-decoration: none;
}

.button {
	background: #FE8E05;
	border-radius: 5px;
	font-size: 18px;
	line-height: 117%;
	color: #FFFFFF;
	padding: 24px 52px;
}